header, nav, footer,section, article,aside{
	border: 1px inset black;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

main{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

header, nav, footer{
	height: 100px;
}

section, article{
	margin-right: 0px!important;
}

section{
	min-height: 100px!important;
}

section > div{
	padding-top: 10px;
}


input:invalid{
	border: 3px solid red;
}

